<!--این صفحه و کلا فولدر هوم برای شِمای ظاهری سایت هست و هر چیزی که الظاهر اینجا نمایش میدن
    میشهC# و اچ تی ام ال را باهم اینجا داشت 
-->
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- ADD THIS LINE ↓↓↓ -->
<partial name="_AdPartial" />